@font-face {
    font-family: Roboto;
    src: url(./../resources/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}

body{
    font-family: 'Roboto';
    background-color: grey;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#gameover {
    color: seashell;
    font-size: 10em
}

button {
    width: 200px;
    height: 50px;
    border-radius: 9px;
    background-color: seashell;
    color: grey;
    font-size: 1.7em;
    letter-spacing: 2px;
    word-spacing: 5px;
}
